@font-face { font-family: Josefin; src: url('../fonts/josefin.ttf'); } 

body {
  background-color: #291f4e;
  color: #fff;
  font-family: 'Josefin', sans-serif;
}

.btn {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-primary, .btn-primary:hover, .btn-primary:active {
  color: #000;
  background-color: #79bfa1;
  border-color: #79bfa1;
}

img.bg-home {
  position: absolute;
  max-width: 40%;
  max-height: 40%;
}

img.bg-top {
  left: 0;
  top: 0;
}

img.bg-bottom {
  right: 0;
  bottom: 0;
}

.home-logo {
  max-width: 40%;
  max-width: 150px;
  margin-top: 20vh;
  padding-bottom: 10px;
}

.opener {
  text-align: center;
}

.home-menu img {
  max-width: 100%;
  margin-top: 10px;
}

.top-row {
  margin-top: 20px;
  margin-bottom: 30px;
}

.top-row .logo {
  max-width: 100px;
}

.top-row .back-arrow {
  max-width: 35px;
  margin-top: 10px;
  margin-right: 10px;
}

.choices img {
  padding: 10px;
  min-width: 100px;
  min-height: 100px;
  max-height: calc(30vh - 40px);
  max-width: 100%;
}

.choice {
  margin-bottom: 10px;
}

.date-time, .size {
  margin-bottom: 30px;
}

.providers img {
  max-width: 100%;
}

.provider {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.provider .rating {
  color: #f39c12;
}

#number-request {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.5);
}

.oops-message, .oops-details, .shortcut {
  margin-top: 20px;
  text-align: center;
}

.oops-message h2 {
  margin-top: 0;
}

.oops-message h3 {
  margin-top: 10px;
}

.oops-message img {
  width: 120%;
}

.wall-right {
  margin-left: -20%;
}

.shortcut img {
  max-width: 15%;
}

.red-text {
  color: #f97d81;
}